# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build artifacts
build/
dist/
*.spec

# iRacing Telemetry files
*.ibt
*.html

# Local Database
*.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
